/* Hoja de estilos principal */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General styles */
:root {
    /* Colores */
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}
html {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 100%;
  }
.home {
    width: 100vw;
    height: 100vh;
    background: var(--almost-white);
}
.page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 78% 15%;
}
.masthead{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding: 3% 5%;
}
.masthead .logo{
    align-self: center;
    justify-self: start;
  }
/* Menu hamburguesa */
.main-navigation {
    display:none;
    position: absolute;
    right: 0;
    top: -1%;
    height: 87%;
    width: 44%;
    grid-column: 1/3;
    background-color: var(--almost-white);
    font-size: calc(1em + 1vh);
    padding: 15% 10%;
    grid-template-rows: auto 10% 20%;
}
.main-navigation .navigation-list {
    display: flex;
    flex-direction: column;
    grid-template-rows: 39% 31% 6% 6%;
    grid-row-gap: 6%;
}
.main-navigation .navigation-item a{
    justify-self: start;
    align-self: center;
    color: var(--medium-gray);
    text-decoration: none;
    font-size: calc(0.4em + 1vh);
}
.main-navigation .navigation-subitem{
    padding: 10% 0 0 10%; 
}
.main-navigation .navigation-subitem a{
    text-decoration: none;
    font-size: calc(0.4em + 1vh);
    color: var(--medium-gray);
}
.main-navigation .navigation-subitem img{
    margin-right: 5%;
    width: 10%;
}
.navigation-features, .navigation-company{
    display: none;
}
.dropdown::after {
    content: url("../images/icon-arrow-down.svg");
    margin-left: 5%;
}
.expanded::after {
    content: url("../images/icon-arrow-up.svg");
    margin-left: 5%;
}
.menu-toggle {
    position: relative;
    cursor: pointer;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: end;
    z-index: 10;
}
.main-navigation .navigation-button{
    background-color: var(--almost-white);
    color: var(--medium-gray);
    font-size: calc(0.4em + 1vh);
    letter-spacing: 1px;
    width: 100%;
}
.main-navigation .login{
    align-self: center;
    border: none;
}
.main-navigation .register{
    align-self: center;
    border:2px solid var(--medium-gray);
    border-radius: 15px;
    padding: 5%;
}
.main-navigation-background{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    display: none;
    background: var(--almost-black);
    mix-blend-mode: normal;
    opacity: 0.75;
}
.grid-container{
    display: grid;
    grid-template-rows: 49% 13% 15% 20%;
    grid-template-columns: 100%;
    grid-row-gap: 2%;
}
.grid-container .entry-thumbnail{
    margin: 0 auto;
    width: 100%;
    background-image: url("../images/image-hero-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.grid-container .entry-tittle{
    justify-self: center;
    align-self: end;
    font-weight: 700;
    font-size: calc(1.7em + 1vh);
    padding: 0% 5%;
    color: var(--almost-black);
}
.grid-container .entry-summary{
    justify-self: center;
    align-self: center;
    padding: 0 5%;
    font-size: calc(0.5em + 1vh);
    color: var(--medium-gray);
    text-align: center;
    line-height: 1.6;
}
.grid-container .entry-button{
    justify-self: center;
    align-self: start;
    height: 37%;
    width: 37%;
    background-color: var(--almost-black);
    color: var(--almost-white);
    border: 1px solid var(--almost-black);
    border-radius: 15px;
    font-size: calc(0.5em + 1vh);
    letter-spacing: 1px;
}
.grid-container .entry-button:hover{
    cursor: pointer;
    background-color: var(--almost-white);
    color: var(--medium-gray);
}
.footer{
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template-columns: repeat(4, 19%);
    grid-column-gap: 8%;
    padding: 0% 5%;
}
.footer img{
    width: 100%;
    align-self: center;
}

/* Desktop design */
@media (min-width: 1024px) {
    .page {
        grid-template-columns: 100%;
        grid-template-rows: 9% 88%;
        grid-row-gap: 3%;
    }
    .masthead{
        grid-row: 1/2;
        grid-column: 1/3;
        padding: 0;
        padding-left: 3%;
        display: grid;
        grid-template-columns: 13% 87%;
        grid-template-rows: 100%;
    }
    .masthead .logo{
        grid-column: 1/2;
        align-self: center;
        justify-self: start;
      }
    /* Menu hamburguesa */
    .main-navigation {
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        position: relative;
        padding: 0;
        font-size: calc(1em + 1vh);
        justify-self: center;
        align-self: center;
    }
    .main-navigation .navigation-list {
        display: grid;
        grid-template-columns: 9% 9% 9% 30% 12% 16%;
        grid-column-gap: 3%;
        grid-template-rows: 100%;
        align-self: center;
        position:relative;
    }
    .main-navigation .navigation-item{
        align-self: center;
    }
    .main-navigation .navigation-item a{
        display:block;
        font-size: calc(0.4em + 1vh);
    }
    .navigation-features{
        display: none;
        position: absolute;
        left: -16%;
        margin-top: 3%;
        background-color: white;
        border: 1px solid var(--almost-white);
        border-radius: 15px;
        box-shadow: var(--light-grayish-violet) 0px 7px 29px 0px;
        width: 20%;
        padding: 2%; 
    }
    .navigation-features .navigation-subitem{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 30% 70%;
        padding: 5%;
    }
    .navigation-features .navigation-subitem a{
        text-decoration: none;
        font-size: calc(0.6em + 1vh);
        color: var(--medium-gray);
        position: relative;
        grid-column: 2/3;
        justify-self: start;
    }
    .navigation-features .navigation-subitem img{
        margin-right: 10%;
        grid-column: 1/2;
        width: 50%;
    }
    .navigation-company{
        display: none;
        position: absolute;
        margin-top: 3%;
        background-color: white;
        border: 1px solid var(--almost-white);
        border-radius: 15px;
        width: 12%;
        padding: 2%; 
    }
    .navigation-company .navigation-subitem{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        padding: 12% 5%;
    }
    .navigation-company .navigation-subitem a{
        grid-column: 1/2;
        text-decoration: none;
        font-size: calc(0.6em + 1vh);
        color: var(--medium-gray);
        position: relative;
        justify-self: start;
    }
    .dropdown::after {
        content: url("../images/icon-arrow-down.svg");
        margin-left: 5%;
    }
    .expanded::after {
        content: url("../images/icon-arrow-up.svg");
        margin-left: 5%;
    }
    .menu-toggle {
        display: none;
    }
    .main-navigation .navigation-button{
        background-color: var(--almost-white);
        color: var(--medium-gray);
        font-size: calc(0.4em + 1vh);
        letter-spacing: 1px;
        width: 75%;
    }
    .main-navigation .login{
        align-self: center;
        justify-self: end;
        border: none;
    }
    .main-navigation .register{
        align-self: center;
        justify-self: start;
        border:2px solid var(--medium-gray);
        border-radius: 15px;
        padding: 5%;
    }
    .main-navigation .navigation-button:hover{
        cursor: pointer;
    }
    .grid-container{
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 35% 20% 10% 11%;
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
        grid-row-gap: 8%;
        padding: 0% 9% 5% 9%;
    }
    .grid-container .entry-thumbnail{
        grid-column: 2/3;
        grid-row: 1/5;
        width: 100%;
        justify-self: center;
        background-image: url("../images/image-hero-desktop.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .grid-container .entry-tittle{
        justify-self: start;
        align-self: end;
        font-size: calc(4.4em + 1vh);
        margin-top: 10%;
        padding: 0;
    }
    .grid-container .entry-summary{
        justify-self: start;
        align-self: center;
        font-size: calc(0.8em + 1vh);
        text-align: start;
        padding: 0;
    }
    .grid-container .entry-button{
        justify-self: start;
        height: 90%;
        width: 35%;
        font-size: calc(0.8em + 1vh);
        letter-spacing: 1px;
    }
    .footer{
        height: 100%;
        width: 100%;
        grid-row: 4/5;
        justify-self: start;
        align-self: end;
        display: grid;
        grid-template-columns: repeat(4, 19%);
        grid-column-gap: 8%;
        padding: 0%;
    }
    .footer img{
        width: 80%;
        align-self: center;
    }
}